nav {
	.my-btn {
		background-color: #88addb;
	}
	ul {
		// display: flex;
		// padding: 20px;
		font-family: "Archivo", sans-serif;
		letter-spacing: 0.4px;
		word-spacing: 0.2rem;
		font-weight: 700;

		li {
			margin: auto 20px !important;
			font-size: 14px;
		}
	}
	.my-row {
		text-align: center;
	}
}
.my-fluid {
	width: 75%;
	margin: auto;
}
h1 {
	font-family: "Roboto", sans-serif;
	margin-top: 0.5rem;
	color: rgb(68, 68, 68);
	span {
		color: #a30000da;
	}
}
.my-toggler:focus,
.my-toggler:active,
.my-toggler:focus {
	outline: none !important;
	box-shadow: none !important;
}

@media (max-width: 1199px) {
	.navbar-nav {
		margin-bottom: 25px;
	}
}
